.contact {
  height: 100vh;
  width: 100%;
  padding: 0 0.5rem;
  background-image: url('../public/contact-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;

  .header {
    width: 100%;

    h1 {
      font-size: 5rem;
      padding-top: 3%;
      padding-left: 8%;
      padding-right: 5%;
      padding-bottom: 3%;
      margin: 5%;
      margin-top: 1%;
      color: orange;
    }
  }

  .body {
    width: 100%;

    .sectionOne,
    .sectionTwo {
      width: 50%;
      margin: auto;
      text-align: center;
      letter-spacing: 1px;
      border: 3px solid #fff;
      background-color: rgba(#2b2d2f, 0.5);
      margin-bottom: 5%;
      padding: 2%;

      .icon,
      .title {
        color: #fff;
      }

      &:hover {
        box-shadow: 0px 0px 5px #fff;
        background-color: rgba(#363636, 0.7);
        cursor: pointer;

        .title {
          color: orange;
        }

        .icon {
          color: darkorange;
        }
      }
    }
  }
}

@media all and (min-width: 1800px) {
  .contact {
    width: 100%;

    .body {
      width: 70%;
      margin: auto;

      .sectionOne,
      .sectionTwo {
        width: 55%;
        padding: 2%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }
  }
}

@media all and (min-width: 1281px) and (max-width: 1799px) {
  .contact {
    width: 100%;

    .body {
      width: 70%;
      margin: auto;

      .sectionOne,
      .sectionTwo {
        width: 60%;
        padding: 2%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }
  }
}

@media all and (min-width: 771px) and (max-width: 1280px) {
  .contact {
    .header {
      width: 100%;

      h1 {
        font-size: 3rem;
        padding: 2%;
        margin: 5%;
      }
    }

    .body {
      width: 90%;
      margin: auto;

      .sectionOne,
      .sectionTwo {
        width: 70%;
        padding: 2%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }
  }
}

@media all and (max-width: 770px) {
  .contact {
    width: 100%;
    h1 {
      font-size: 2rem;
      height: 100%;
    }

    .body {
      width: 90%;
      margin: auto;

      .sectionOne,
      .sectionTwo {
        width: 80%;
        padding: 2%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }
  }
}
