.projects {
  min-height: 100vh;
  width: 100%;
  padding: 0 0.5rem;
  background-image: url('../public/projects.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;

  .header {
    h1 {
      font-size: 5rem;
      padding-top: 3%;
      padding-left: 8%;
      padding-right: 5%;
      padding-bottom: 3%;
      margin: 5%;
      margin-top: 1%;
      color: orange;
    }
  }

  .body {
    width: 80%;
    margin: auto;

    .sectionOne,
    .sectionTwo,
    .sectionThree,
    .sectionFour {
      width: 50%;
      padding: 2%;
      display: inline-block;
      margin: auto;

      .card {
        background-color: #f4f5f4;

        .cardHeader {
          display: inline-flex;
          width: 100%;
          background-color: darkorange;
          color: #fff;

          h2 {
            color: #fff;
            text-align: left;
            padding: 2%;
            margin: auto;
            margin-left: 5%;
          }
        }

        .content {
          width: 90%;
          margin: auto;

          .cardSpan {
            width: 100%;
            margin: auto;
            padding: 2%;
            height: 30vh;
            position: relative;

            p {
              background-color: #f4f5f4;
              border: none;
              margin: auto;
              width: 100%;
              padding: 2%;
            }

            .buttonContainer {
              z-index: 1300;
              width: 100%;
              height: 30vh;
              position: absolute;
              margin: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              align-content: center;
              margin: -2%;

              .btn {
                visibility: hidden;
                letter-spacing: 2px;
                font-weight: bold;
                background-color: #2b2d2f;
                color: #fff;
                opacity: 0;
              }

              &:hover {
                visibility: visible;
                background-color: rgba(#b5b8bb, 0.3);

                .btn {
                  z-index: 1400;
                  width: 30%;
                  height: 15%;
                  opacity: 1;
                  visibility: visible;
                  margin: 5%;

                  &:hover {
                    box-shadow: 0px 0px 10px #2b2d2f;
                    background-color: #141516;
                  }
                }
              }
            }
          }

          .cardFooter {
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%;
            min-height: 158px;
            margin: auto;
            border-top: 1px solid #b5b8bb;

            .imageContrainer {
              width: 50%;
              margin: auto;
              text-align: center;

              .images {
                width: 75px;
                height: 75px;
              }
            }
          }
        }
      }
    }
  }
}

// Mobile
@media all and (max-width: 700px) {
  .projects {
    .header {
      width: 100%;

      h1 {
        font-size: 3rem;
        padding: 2%;
        margin: 5%;
      }
    }

    .body {
      width: 90%;

      .sectionOne,
      .sectionTwo,
      .sectionThree,
      .sectionFour {
        width: 100%;

        .card {
          height: 100%;

          .cardHeader {
            width: 100%;

            h2 {
              margin-left: 2%;
              font-size: 1.4rem;
            }
          }

          .content {
            .cardSpan {
              min-height: 50vh;
              overflow: scroll;

              .buttonContainer {
                height: 50vh;

                &:hover {
                  .btn {
                    width: 70%;
                  }
                }
              }
            }

            .cardFooter {
              .imageContrainer {
                .images {
                  width: 45px;
                  height: 45px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Ipad
@media all and (min-width: 701px) and (max-width: 1280px) {
  .projects {
    .header {
      width: 100%;

      h1 {
        font-size: 3rem;
        padding: 2%;
        margin: 5%;
      }
    }

    .body {
      width: 70%;

      .sectionOne,
      .sectionTwo,
      .sectionThree,
      .sectionFour {
        width: 100%;

        .card {
          height: 100%;

          .cardHeader {
            width: 100%;

            h2 {
              margin-left: 2%;
              font-size: 1.4rem;
            }
          }

          .content {
            .cardSpan {
              min-height: 25vh;
              overflow: scroll;

              .buttonContainer {
                height: 25vh;

                &:hover {
                  .btn {
                    width: 40%;
                  }
                }
              }
            }

            .cardFooter {
              .imageContrainer {
                .images {
                  width: 55px;
                  height: 55px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// FHD +

@media all and (min-width: 1801px) {
  .projects {
    .header {
      width: 100%;

      h1 {
        font-size: 6rem;
        margin-bottom: 2%;
      }
    }

    .body {
      width: 70%;
      margin: auto;

      .sectionOne,
      .sectionTwo,
      .sectionThree,
      .sectionFour {
        width: 50%;

        .card {
          height: 100%;

          .cardHeader {
            width: 100%;

            h2 {
              margin: 2%;
              font-size: 1.5rem;
            }
          }

          .content {
            .cardSpan {
              height: 30vh;
              overflow: auto;

              p {
                font-size: 1.1rem;
              }

              .buttonContainer {
                height: 30vh;

                &:hover {
                  .btn {
                    width: 30%;
                  }
                }
              }
            }

            .cardFooter {
              .imageContrainer {
                .images {
                  width: 75px;
                  height: 75px;
                }
              }
            }
          }
        }
      }
    }
  }
}
